<% @posts.each do |post| %>
  <div class="post" id="<%= post.id %>">
    <h2>
      <span class="published_on"><%= post.published_on.strftime("%d %B %Y") %></span><br />
      <span class="title"><a href="<%= permalink(post) %>"><%= post.title %></a></span>
    </h2>
    <%= post.to_html %>
  </div>
<% end %>
