<% @posts.first(10).each do |post| %>
  <div class="post" id="<%= post.id %>">
    <h2>
      <span class="published_on"><%= post.published_on.strftime("%d %B %Y") %></span><br />
      <span class="title"><a href="<%= permalink(post) %>"><%=h post.title %></a></span>
    </h2>
    <%= post.body_html %>
  
    <div class="comments">
    <% if post.comment_count > 0 %>
      <a href="<%= permalink(post) %>"><%= post.comment_count %> comment(s) on this post &raquo;</a>
    <% else %>
      <a href="<%= permalink(post) %>">Comment on this post &raquo;</a></p>
    <% end %>
    </div>
  </div>
<% end %>
