<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= h(@page_title) %></title>

  <link href="<%= absolute_url("/feed") %>" rel="alternate" title="Feed for <%= h(CONFIG['blog']['title']) %>" type="application/atom+xml" />
  <link href="<%= absolute_url("/feed/comments") %>" rel="alternate" title="Comments for <%= h(CONFIG['blog']['title']) %>" type="application/atom+xml" />
  <% if @post %>
  <link href="<%= absolute_url("/#{@post.id}/feed") %>" rel="alternate" title="Feed for comments on article &ldquo;<%= h(@post.title) %>&rdquo; <%= h(CONFIG['blog']['name']) %>" type="application/atom+xml" />
  <% end %>

  <script language="javascript" src="<%= relative_path("/javascripts/github/ext/jquery.js") %>" type="text/javascript"></script>
  <script language="javascript" src="<%= relative_path("/javascripts/github/ext/jquery.template.js") %>" type="text/javascript"></script>
  <script language="javascript" src="<%= relative_path("/javascripts/tweet/jquery.tweet.js") %>" type="text/javascript"></script>

  <link rel="stylesheet" href="<%= relative_path("/theme/stylesheets/master.css") %>"  type="text/css" media="screen" />
  <script src="<%= relative_path("/javascripts/application.js") %>" type="text/javascript" charset="utf-8"></script>
  
  <script type='text/javascript'>
    $(document).ready(function(){
        $(".tweet").tweet({
            username: "lukeredpath",
            join_text: "",
            count: 5,
        });
    });
  </script>
	
</head>

<body>
  
  <h1><a href="/"><%= CONFIG['blog']['title'] %></a></h1>

  <div class="container">
    <%= yield %>
  </div><!-- /container -->

  <div id="sidebar">
    <div id="about" class="section">
      <h3>About Me</h3>
      <p>
        <img src="http://avatar.xboxlive.com/avatar/DevilsHellion/avatar-body.png" id="avatar" />
        I am a freelance Ruby/Rails developer based in London, UK. I am currently available for hire on a contract basis.</p>
    </div>
    
    <div class="tweet section">
      <h3>From Twitter</h3>
    </div>
    
    <div id="github-badge" class="section"></div>
    <script type="text/javascript" charset="utf-8">
      GITHUB_USERNAME="lukeredpath";
      GITHUB_LIST_LENGTH=10;
      GITHUB_HEAD="h3"; 
      GITHUB_TITLE = "My GitHub Projects"
    </script>
    <script src="<%= relative_path("/javascripts/github/github-badge-launcher.js") %>" type="text/javascript"></script>
    
<!--     <div id="blogroll" class="section">
      <h3>Blogroll</h3>
      <ul>
        <li><a href="http://interblah.net/">James Adam</a></li>
        <li><a href="http://www.fearoffish.com/">Jamie van Dyke</li>
      </ul>
    </div> -->
  </div>
  
  <% if CONFIG['ga_code'] && Sinatra.env == :production %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("<%= CONFIG['ga_code'] %>");
  pageTracker._trackPageview();
  </script>
  <% end %>

</body>
</html>
